.wordle-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .game-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }